<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
      <link rel="stylesheet" type="text/css" href="/static/css/speech-input.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
    <style>
      body {
        background-color:antiquewhite;
      }
      h1
      {
        color:blue;
      }
      .si-wrapper
      {
      border:5px solid blue;
      }
  </style> 
  </head>
  <body>
    <h1>Chat Bot for SSV Multi Speciality Hospital</h1>

<!--    <h3>Simple ChatBot using <a href="https://chatterbot.readthedocs.io/en/stable/#">ChatterBot</a> and integrated with flask</h3>-->
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! I'm Chatterbot.</span></p>
      </div>
      <div id="userInput">

          <input id="textInput" class="speech-input" type="text" name="msg"  placeholder="Enter Message here" />

<!--        <input id="textInput" type="text" name="msg" value={{ data }} placeholder="Enter Message here" />-->
<!--   <a href="/speechreg"> <i class="fa fa-microphone"></i></a>-->
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script src="/static/js/main.js"></script>
        <script src="/static/js/speech-input.js"></script>
    </div>
  </body>
</html>
